* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: dimgray;
  margin: 0 auto;
}

main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
}

header {
  width: 100%;
}

h1 {
  color: white;
  background-color: steelblue;
  font-size: 26px;
  margin: 0px auto;
  padding: 20px;
}
input {
  color: steelblue;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  border: none;
}

.escoger {
  font-weight: bold;
  padding: 10px;
}

canvas {
  background-color: white;
  margin: 40px;
}

footer {
  background-color: steelblue;
  height: 60px;
  width: 100%;
  margin-top: 40px;
}
